.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 14px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F2F4F5;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dark {
  background-color: rgb(29, 29, 29);
  border-bottom: 1px solid rgb(60, 60, 60);

}

.light {
  background-color: white;

}

.title {
    font-size: 28px;
}

.date {
    font-size: 16px;
}