.search {
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    gap: 12px;
}

.light {
    background-color: white;
}

.dark {
  background-color: rgb(29, 29, 29);
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #F2F3F5;
    border-radius: 12px;
}

