* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Inter", "sans-serif";
}

.container {
  padding: 24px;
  min-height: 100vh;
}

.app.dark .container {
  background-color: rgb(29, 29, 29);
}

.app.light .container {
  background-color: white;
}

.app.dark p,
.app.dark h3,
.app.dark h1 {
  color: rgb(247, 247, 247);
}

.app.light p,
.app.light h3,
.app.light h1 {
  color: black;
}
